@font-face {
	font-family: "nanumfont";
	src: url(./assets/fonts/NanumSquareNeo-eHv.ttf);

}

:root {
  --font-nanumfont: "nanumfont"
}

body {
  margin: 0;
  font-family: var(--font-nanumfont);
}


ul {
  list-style: none;
}