@font-face {
	font-family: "nanumfont";
	src: url(./assets/fonts/NanumSquareNeo-eHv.ttf);
}
@font-face {
	font-family: 'NanumSquareNeo';
	src: url(./assets/fonts/NanumSquareNeo-bRg.ttf);
}

:root {
  --font-nanumfont: "nanumfont"
}

:root {
  --font-nanumfont-s: "NanumSquareNeo"
}

body {
  margin: 0;
  font-family: var(--font-nanumfont);
}

button, input {
  font-family: var(--font-nanumfont);
}

ul, li {
  list-style: none;
}